# terraform.tfvars - Example values
# Uncomment and modify as needed

# aws_region       = "ca-central-1"
# cluster_name     = "sheka-dev"
# kubernetes_version = "1.34"
# 
# vpc_cidr              = "10.0.0.0/16"
# public_subnet_1_cidr  = "10.0.1.0/24"
# public_subnet_2_cidr  = "10.0.2.0/24"
# private_subnet_1_cidr = "10.0.10.0/24"
# private_subnet_2_cidr = "10.0.11.0/24"
#
# desired_size   = 2
# min_size       = 1
 max_size       = 4
# instance_types = ["t3.medium"]
